.score{
  padding-top: 2rem;

  &__players {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  &__title {
    font-size: 2rem;
    margin: 0;
    text-align: center;
  }

  &__palyer {
    font-size: 1.5rem;
    margin: 1rem;
  }
}
