.controller {
  position: absolute;
  bottom: 0;
  text-align: center;

  &__play-button {
    border: 1px solid white;
    padding: 1rem;
    margin: 1rem;
    width: 80%;
    background: transparent;
    color: white;
    font-size: 1.5rem;
    border-radius: 100px;
    outline: none;
  }

  &__weapon-selection {
    border: 1px solid transparent;
    padding: 1rem;
    margin: 1rem;
    width: 80%;
    color: white;
    font-size: 1.5rem;
  }
}

 @media only screen and (min-width: 400px) {
  .controller {
    width: 100%;

    &__weapon-selection,
    &__play-button {
      width: auto;
    }
  }
  button {
    background: bottom;
    border: none;
    outline: none;
  }
}
