.App {
  position: relative;
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.blur-image {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

img {
  width: 60px;
}

 @media only screen and (min-width: 400px) {
   .blur-image {
    filter: blur(22px);
    -webkit-filter: blur(22px);
  }

  img {
    width: 160px;
  }

}