.restart-game {
  text-align: end;

  &__button {
    color: white;
    background: transparent;
    border: 1px solid white;
    border-radius: 15%;
    padding: .3rem;
    width: 15%;
    margin-left: 10%;
  }
 @media only screen and (min-width: 400px) {
    .restart-game__button {
      color: white;
      background: transparent;
      border: 1px solid white;
      border-radius: 15%;
      padding: 1.3rem;
      width: 6rem;
      margin: 10px;
      font-size: 1rem;

      &:hover {
        background: white;
        color: #282c34;
      }
    }
  }
}

